<!-- 
    avisos.ejs

    - Lista todos os funcionários que tem avisos por não estar com máscara em local obrigatório
        - Lista todas as datas com imagens

 -->

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tabela</title>

    <!-- Custom fonts for this template -->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/sb-admin-2.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/sidebar'); %>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid" style="display:block">            
                    <!-- DataTales Example -->
                    
                        <div class="card-header py-3" style="width:100%">
                            <h4 class="m-0 font-weight-bold text-light" style="text-align:center">AVISOS</h4>
                        </div>
                    
                    <div class="card shadow mb-4">

                 
                    
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped rounded" id="dataTable" width="100%" cellspacing="0" style="color:white">
                                    <thead>
                                        <tr>
                                            <th>DATA</th>
                                            <th>HORÁRIO</th>
                                            <th>NOME</th>
                                            <th>DEPARTAMENTO</th>
                                            <th>IMAGENS</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>DATA</th>
                                            <th>HORÁRIO</th>
                                            <th>NOME</th>
                                            <th>DEPARTAMENTO</th>
                                            <th>IMAGENS</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <% print.forEach(function (aviso) { %>
                                            <% if(aviso.visualizado == 0) { %>
                                                <tr style="background-color: rgb(116, 0, 0);">
                                            
                                            <%  } else { %><tr>
                                                <% } %>
                                                <td><%= moment(aviso.aviso_data).format("DD/MM/YY")  %></td>
                                                <td><%= moment(aviso.aviso_data).format("hh:mm:ss")  %></td>
                                                <td><a style="text-decoration:none;color:white" href="/detalhes?id=<%= aviso.funcionario_id %>"><%= aviso.funcionario_nome %></a></td>
                                                <td><%= aviso.departamento_nome %></td>
                                                <td><% aviso.aviso_img_path.split(",").forEach(element => { %>
                                                                <a href="/css/img/<%- element %>.png" style="color:aqua">[link]</a>
                                                            <% }); %>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

 
    <!-- Bootstrap core JavaScript-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="./vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="./js/demostracion/datatables-demo.js"></script>

</body>

</html>