<!--

    - Consulta de um único funcionario a partir do ID

 -->

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tabela</title>

    <!-- Custom fonts for this template -->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../partials/sidebar'); %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a type="button" class="btn btn-primary" href="/funcionarios">< Voltar</a>
                        </div>
                        
                        <div class="card-body">
                            <% if (typeof aviso[0] === "undefined") { %>
                                <span>Aviso não existente</span>
                            <% } else { %>
                                <table class="table table-responsive" style="color:white">
                                    <tr>
                                        <td>ID</td>
                                        <th>Nome</th>
                                        <th>Departamento</th>
                                        <th>Avisos</th>
                                        <th>Grupo de Risco</th>
                                    </tr>
                                    <tr>
                                        <td><%= aviso[0].funcionario_id %></td>
                                        <td><%= aviso[0].funcionario_nome %></td>
                                        <td><%= aviso[0].departamento_nome %></td>
                                        <td><%= aviso[0].funcionario_avisos %></td>
                                        <% if (aviso[0].funcionario_grupo_risco == 0) { %>
                                            <td>Não</td>
                                        <% } else { %>  
                                            <td>Sim</td>
                                        <% } %>
                                    </tr>
                                </table>
                                </br>
                                <h2 style="color:white">Lista de avisos:</h2>
                                <table class="table table-bordered table-dark table-striped" style="width:100%;color:white">
                                    <tr>
                                        <th>DATA</th>
                                        <th>HORÁRIO</th>
                                        <th>IMAGENS CAPTURADAS</th> 
                                    </tr>
                                    <% aviso.forEach(function (x) { %>
                                        <tr>
                                            <td><%= moment(x.aviso_data).format('DD/MM/YY') %></td>
                                            <td><%= moment(x.aviso_data).format('hh:mm:ss') %></td>
                                            <td><% x.aviso_img_path.split(",").forEach(element => { %>
                                                <a href="/css/img/<%- element %>.png" style="color:aqua">[link]</a>
                                            <% }); %></td>
                                        </tr>
                                    <% }) %>    
                                </table>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="./vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>
    

    <!-- Page level custom scripts -->
    <script src="./js/demostracion/datatables-demo.js"></script>

    <!-- Manipulação da data script -->
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

</body>

</html>