<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Funcionários</title>

    <!-- Custom fonts for this template -->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="./vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>      

        table, td, th {
            border: 1px solid;
            width: 300px;
            text-align: center;
        }
        th {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    
    <!-- Bootstrap core JavaScript-->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
 
           <!-- Page level plugins -->
           <script src="./vendor/datatables/jquery.dataTables.min.js"></script>
           <script src="../../public/js/sorttable.js"></script>
    <script>$("#dataTable").addSortWidget();
    </script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/sidebar'); %>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h2 class="m-0 font-weight-bold text-light" style="padding-left:45%">Funcionários</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped sortable" id="dataTable" width="100%" cellspacing="5" style="color:white">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NOME</th>
                                            <th>IDADE</th>
                                            <th>DEPARTAMENTO</th>
                                            <th>GRUPO DE RISCO</th>
                                            <th>AVISOS</th>
                                            <th>STATUS</th>
                                            <th>CONSULTAR AVISOS</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>NOME</th>
                                            <th>IDADE</th>
                                            <th>DEPARTAMENTO</th>
                                            <th>GRUPO DE RISCO</th>
                                            <th>AVISOS</th>
                                            <th>STATUS</th>
                                            <th>CONSULTAR AVISOS</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% print.forEach(function (funcionario) { %>
                                            <tr>
                                                <td><%= funcionario.funcionario_id %></td>
                                                <td><%= funcionario.funcionario_nome %></td>
                                                <td><%= funcionario.funcionario_idade %></td>
                                                <td><%= funcionario.departamento_nome %></td>
                                                <% if(funcionario.funcionario_grupo_risco == '0') { %>
                                                    <td>Não</td>
                                                <% } else {%>
                                                    <td >Sim</td>
                                                    <% } %>
                                                <td><%= funcionario.funcionario_avisos %></td>
                                                <td>
                                                    <% if(funcionario.funcionario_status == '1') { %>
                                                        Ativo
                                                    <% } else { %>
                                                        Afastado
                                                    <% } %>
                                                </td>
                                                <% if(funcionario.funcionario_avisos == '0') { %>
                                                    <td><button class="btn btn-secondary" disabled>Não possui aviso</button></td>
                                                <% } else { %>
                                                    <td><a class="btn btn-primary" href="/detalhes?id=<%= funcionario.funcionario_id %>">Consultar</a></td>
                                                <% } %>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->



    <!-- Custom scripts for all pages-->
    <script src="./js/sb-admin-2.min.js"></script>


    <script src="./vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="./js/demostracion/datatables-demo.js"></script>

</body>

</html>